/* Main common basic pages */
#sub-how-to-write-a-song, #sub-how-to-write-a-song-what-is-a-song, #sub-how-to-write-a-song-putting-a-song-together-choosing-a-style, #sub-how-to-write-a-song-putting-a-song-together-finding-the-form-and-order, #sub-how-to-write-a-song-putting-a-song-together-making-lyrics-into-melodies, #sub-how-to-write-a-song-putting-a-song-together-where-to-start, #sub-how-to-write-a-song-putting-a-song-together-writing-lyrics, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-lyrics, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-beat, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-chords{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/How_To_Write_A_Song_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

/* Custom Pages Style */
#sub-how-to-write-a-song-putting-a-song-together{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Putting_A_Song_Together/Putting_A_Song_Together_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/What_Is_A_Song/Ingredients_Of_A_Song/Ingredients_Of_A_Song.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Song_Styles_Showcase_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase-blues{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Blues/Blues_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-how-to-write-a-song-song-style-showcase-jazz{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Jazz/Jazz_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-how-to-write-a-song-song-style-showcase-country{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Country/Country_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-how-to-write-a-song-song-style-showcase-disco{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Disco/Disco_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-how-to-write-a-song-song-style-showcase-electro-dance{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Electro_Dance/Electro_Dance_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-how-to-write-a-song-song-style-showcase-folk{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Folk/Folk_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase-hip-hop{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Hip_Hop/Hip_Hop_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase-metal{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Metal/Metal_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase-punk{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Punk/Punk_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-how-to-write-a-song-song-style-showcase-rock{
  background:url('images/9-12/Art_and_Music/How_To_Write_A_Song/Song_Styles_Showcase/Rock/Rock_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

/* Custom Pages Style Ends here */

/* Common Button Design */
.plHowToWriteASong, .psHowToWriteASong, .bHowToWriteASong, .fHowToWriteASong {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.micbtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/micam.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwHowToWriteASong {
  background:url('images/9-12/Art_and_Music/rwam.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpsHowToWriteASong {
  background:url('images/9-12/Art_and_Music/playam.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwHowToWriteASong {
  background:url('images/9-12/Art_and_Music/fwam.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/menuam.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/mapam.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/mpointsam.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/ctrlpnlam.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/infoam.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnHowToWriteASong {
  background:url('images/9-12/Art_and_Music/creditsam.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}
/* Common Button Design Ends Here */


.navHowToWriteASong-content {
	position: absolute;
	left: 305px;
	top: 275px;
	width: 410px;
	height: 359px;
	overflow: auto;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

/* Some pages needs different style for text content */
.navHowToWriteASong-looingup {
	position: absolute;
	left: 305px;
	top: 346px;
	width: 410px;
	height: 275px;
	overflow: auto;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navHowToWriteASongbtn1{
	left: 134px;
    position: absolute;
    top: 405px;
}

.navHowToWriteASongbtn2 {
    left: 394px;
    position: absolute;
    top: 435px;
}
.navHowToWriteASongbtn3 {
    left: 657px;
    position: absolute;
    top: 405px;
}

			
/**********flipcard effect**************/
#f3_container,#f4_container,#f5_container  {
  position: relative;
  width: 360px;
  height: 280px;
  z-index: 1;
}
#f3_container,#f4_container,#f5_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#f3_card,#f4_card,#f5_card{
  width: 360px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

/* Common Header Div Design */
#sub-how-to-write-a-song .bptitleholder, #sub-how-to-write-a-song-what-is-a-song .bptitleholder, #sub-how-to-write-a-song-putting-a-song-together-choosing-a-style .bptitleholder, #sub-how-to-write-a-song-putting-a-song-together-finding-the-form-and-order .bptitleholder, #sub-how-to-write-a-song-putting-a-song-together-making-lyrics-into-melodies .bptitleholder, #sub-how-to-write-a-song-putting-a-song-together-where-to-start .bptitleholder, #sub-how-to-write-a-song-putting-a-song-together-writing-lyrics .bptitleholder, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-lyrics .bptitleholder, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-beat .bptitleholder, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody .bptitleholder, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody .bptitleholder, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-chords .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 170px;
	left: 194px;
}

/* Custom Header Div Design */
#sub-jammin-jammin-in-the-style-of-classical .bptitleholder{
	width: 450px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 44px;
	left: 563px;
}
#sub-how-to-write-a-song-song-style-showcase .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 123px;
	left: 194px;
}
/* Common Header Design h1 */
#sub-how-to-write-a-song .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song .bptitleholder h1, #sub-how-to-write-a-song-putting-a-song-together-choosing-a-style .bptitleholder h1, #sub-how-to-write-a-song-putting-a-song-together-finding-the-form-and-order .bptitleholder h1, #sub-how-to-write-a-song-putting-a-song-together-making-lyrics-into-melodies .bptitleholder h1, #sub-how-to-write-a-song-putting-a-song-together-where-to-start .bptitleholder h1, #sub-how-to-write-a-song-putting-a-song-together-writing-lyrics .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-lyrics .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-beat .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-melody .bptitleholder h1, #sub-how-to-write-a-song-what-is-a-song-ingredients-of-a-song-chords .bptitleholder h1{
	text-transform: uppercase;
	color: #FFFFFF !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

/* Custom Page Header Design h1 */
#sub-jammin-jammin-in-the-style-of-classical .bptitleholder h1{
	text-transform: uppercase;
	color: #FFFFFF !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}

#sub-how-to-write-a-song-song-style-showcase .bptitleholder h1{
	text-transform: uppercase;
	color: #000000 !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
	font-size: 28px;
}

.bpcontentHowToWriteASong{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}



.navHowToWriteASong-content3{
  position:absolute;
  left:59px;
  top:263px;
  width:920px;
  height:160px;
  overflow-y:scroll;
  text-align:left;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  color:#000000;
}


/* Custom content */



.navHowToWriteASong-puttingasongtogether{
	position: absolute;
	left: 26px;
	top: 540px;
	width: 973px;
	height: 130px;
	overflow: auto;
	text-align: center;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navHowToWriteASong-SongStyleShowcase{
	position: absolute;
	left: 298px;
	top: 163px;
	width: 426px;
	height: 417px;
	overflow: auto;
	text-align: center;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.where_to_start-btn{
	position: absolute;
	width: 33px;
	height: 100px;
	top: 353px;
	left: 269px;	
}
.choosing_a_style-btn{
	position: absolute;
	width: 33px;
	height: 100px;
	top: 353px;
	left: 374px;			
}
.writing_lyrics-btn{
	position: absolute;
	width: 33px;
	height: 100px;
	top: 353px;
	left: 443px;			
}
.melodies-btn{
	position: absolute;
	width: 33px;
	height: 100px;
	top: 353px;
	left: 583px;			
}
.order-btn{
	position: absolute;
	width: 33px;
	height: 100px;
	top: 353px;
	left: 652px;
}

.play_music-btn{
	height: 100px;
	width: 111px;
	position: absolute;
	left: 458px;
	top: 200px;
}
.page_info-btn{
	height: 30px;
	width: 29px;
	position: absolute;
	left: 509px;
	top: 523px;
}